@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}
.bg-primary-dark {
    background-color: #0d2438;
    color: white;
}
.bg-secondary-light {
    background-color: white;
    color: #0d2438;
}

